name: CD Pipeline

on:
  push:
  pull_request:

env:
  IMAGE_NAME: ghcr.io/c-dal/my-image

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: gchr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
       
      - name: Build image
        run: docker build -f deploy/Dockerfile -t ${{ env.IMAGE_NAME }}:latest .
      
      - name: Push image
        run: docker push ${{ env.IMAGE_NAME }}:latest
